<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-app='app'>
  <div ng-controller='PostsCtrl' class='container'>
    <h1>Recent Posts</h1>
    <form role='form'>
      <div class='form-group'>
        <div class='input-group'>
          <input ng-model='postBody' class='form-control' />
          <span class='input-group-btn'>
            <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
          </span>
        </div>
      </div>
    </form>
    <ul class='list-group'>
      <li ng-repeat='post in posts' class='list-group-item'>
        <strong>@{{ post.username }}</strong>
        <span>{{ post.body }}</span>
      </li>
    </ul>
  </div>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
  <script>
    // create our app module
    var app = angular.module('app', [])

    // create the PostsCtrl module
    // dependency inject $scope
    app.controller('PostsCtrl', function ($scope) {

      // the function ran when the "Add Post" button is clicked
      $scope.addPost = function () {
        // Only add a post if there is a body
        if ($scope.postBody) {
          // unshift a new post into $scope.posts
          $scope.posts.unshift({
            username: 'dickeyxxx',
            body: $scope.postBody // use the text entered
          })
          // clear out the input field
          $scope.postBody = null
        }
      }

      // starting data
      $scope.posts = [
        {
          username: 'dickeyxxx',
          body: 'Node rules!'
        },
        {
          username: 'jeffdickey',
          body: 'trying out angular.js...'
        }
      ]
    })
  </script>
</body>
</html>
