<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body ng-app='app' ng-controller='ApplicationCtrl'>
    <div ng-include="'/nav.html'"></div>
    <div ng-view></div>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js'></script>
    <script src='/app.js'></script>
  </body>
</html>
