<nav ng-controller='NavCtrl' class='navbar navbar-default'>
  <div class='container'>
    <ul class='nav navbar-nav'>
      <li><a href="/">Posts</a></li>
    </ul>
    <ul ng-if='!currentUser' class='nav navbar-nav navbar-right'>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <ul ng-if='currentUser' class='nav navbar-nav navbar-right'>
      <li><a href="#" ng-click='logout()'>Logout</a></li>
    </ul>
    <p ng-if='currentUser' class="navbar-text navbar-right">
    Signed in as {{currentUser.username}}
    </p>
  </div>
</nav>
